@use '../util' as *;

// style for text elements like h tag anchor links...
h1,h2,h3{
    margin-top: 0;
    line-height: 1.1;
}

h1{
  font-size: rem(24);
  margin-bottom: rem(3);
  @include breakpoint(large){
    font-size: rem(28);
  }
}


h2{
  font-size: rem(24);
  margin-bottom: rem(24);
  color: var(--text-color2);
}


a,
a:active,
a:visited {
  text-decoration: none;
}
//去掉所有link的下划线，无论什么状态

